header {
    background-color: $background-color
    h1{
        text-align: center;
        font-family: $font-stack;
        font-size: 3em;
    }
    .titulos {
        display: flex;
        justify-content: space-evenly;
    }
        .tituloIzquierda {
            @include flex-center;
            width: 300px;
        }
        .tituloDerecha {
            @include flex-center;
            width: 300px;
        }
    div{
        text-align: center;
    }
        img{
            width:20%;
            text-align: center;
            border: 0.5px solid #000000;
            border-radius: 50%;
        }
    .menu{
        margin: 8px;
    }
        ul {
            @include flex-center;
            list-style: none;
        }
            li{
                @include flex-center;
                flex: 1;
                font-size:large
            }
                a{
                    text-decoration: none;
                    color:#000000;
                    color: inherit;
                    @include flex-center
                }
            }