@mixin flex-center {
    display: flex;
    align-items: center;
}
@mixin button-style ($background-color) {
    background-color: $background-color ;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: black;
    }
}
@mixin flex-h2 {
    text-align: center;
    margin-top: 80px;
    background-color: #273c2c;
    border: 1px solid #000000;
}